<h2>Room: {{ room.name }}</h2>
<div id="chat-log">
    {% for message in messages %}
        <div><b>{{ message.user }}:</b> {{ message.content }}</div> 
    {% endfor %}
</div>
<input id="chat-message-input" type="text" size="100">
<button id="chat-message-submit">Send</button>

<script>
    const roomId = "{{ room.pk }}";
    const token = localStorage.getItem('Token');  // Получаем токен из localStorage
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + `/ws/chat/?token=${token}`
    );

    // Подписка на сообщения в комнате
    chatSocket.onopen = function() {
        const subscribeMessage = JSON.stringify({
            "action": "subscribe_to_message_in_room",  // Вызов действия подписки
            "pk": roomId,
            "request_id": new Date().getTime()
        });
        chatSocket.send(subscribeMessage);
    };

    // Обработка входящих сообщений
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.action === "create_message") {  // Проверяем, это ли событие создания сообщения
            const message = data.data.content;
            const user = data.data.user.username;

            // Отображаем сообщение на странице
            document.querySelector('#chat-log').innerHTML += `<div><b>${user}:</b> ${message}</div>`;
            const chatLog = document.querySelector('#chat-log');
            chatLog.scrollTop = chatLog.scrollHeight;
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    // Отправка сообщения при нажатии Enter
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    // Обработка отправки сообщения
    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        
        const createMessage = JSON.stringify({
            "action": "create_message",  // Вызов действия создания сообщения
            "message": message,
            "request_id": new Date().getTime()
        });
        
        chatSocket.send(createMessage);  // Отправляем сообщение через WebSocket
        messageInputDom.value = '';
    };
</script>
